
New Unity Project/Assembly-UnityScript-vs.unityproj

New Unity Project/Assembly-UnityScript.unityproj

New Unity Project/Library/assetDatabase3

*.dwlt

New Unity Project/Library/CurrentLayout.dwlt

New Unity Project/Library/CurrentMaximizeLayout.dwlt

New Unity Project/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f

New Unity Project/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8

New Unity Project/Library/ScriptAssemblies/Assembly-UnityScript.dll

New Unity Project/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb

New Unity Project/New Unity Project-csharp.sln

New Unity Project/New Unity Project.sln

New Unity Project/Temp/__EditModeScene
